
{% extends "base.html" %}
{% block content %}
<!-- Titulo -->
	<div class="container">
	    {%if vtitulo%}
	        <h1> Flask - {{vtitulo}} </h1>
	    {%else%}
	        <h1>Titulo si no lo encuentra</h1>
	    {%endif%}
	    <hr>
	</div>

<!-- Contenido -->
	<h2>Esto es contacto</h2>
	<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Maxime, dolor expedita eum aperiam quam suscipit corrupti quos consectetur distinctio iure quo. Doloremque quae corporis corrupti saepe incidunt veniam odit harum.

	Dolorem nisi reprehenderit aliquam exercitationem alias. Eligendi quam molestias distinctio delectus, consectetur in, libero nesciunt deleniti iusto repellat porro, placeat. Libero officiis, praesentium voluptates debitis porro, modi aspernatur vel distinctio.
	Suscipit eligendi facilis, perferendis molestias vitae maiores omnis quae magnam tempora saepe esse. Nulla aspernatur harum voluptatem doloribus consequatur veritatis dolor facere tempora corrupti, quae quia dignissimos molestias saepe accusantium?
	Molestias voluptate doloremque recusandae animi sint quas consequuntur in iste. Atque quos et voluptatibus. Sed, impedit maxime officia veritatis corporis dicta harum voluptatem, quis velit laborum amet sequi illo aperiam.</p>


	<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Maxime, dolor expedita eum aperiam quam suscipit corrupti quos consectetur distinctio iure quo. Doloremque quae corporis corrupti saepe incidunt veniam odit harum.

	Dolorem nisi reprehenderit aliquam exercitationem alias. Eligendi quam molestias distinctio delectus, consectetur in, libero nesciunt deleniti iusto repellat porro, placeat. Libero officiis, praesentium voluptates debitis porro, modi aspernatur vel distinctio.
	Suscipit eligendi facilis, perferendis molestias vitae maiores omnis quae magnam tempora saepe esse. Nulla aspernatur harum voluptatem doloribus consequatur veritatis dolor facere tempora corrupti, quae quia dignissimos molestias saepe accusantium?
	Molestias voluptate doloremque recusandae animi sint quas consequuntur in iste. Atque quos et voluptatibus. Sed, impedit maxime officia veritatis corporis dicta harum voluptatem, quis velit laborum amet sequi illo aperiam.</p>

	<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Maxime, dolor expedita eum aperiam quam suscipit corrupti quos consectetur distinctio iure quo. Doloremque quae corporis corrupti saepe incidunt veniam odit harum.

	Dolorem nisi reprehenderit aliquam exercitationem alias. Eligendi quam molestias distinctio delectus, consectetur in, libero nesciunt deleniti iusto repellat porro, placeat. Libero officiis, praesentium voluptates debitis porro, modi aspernatur vel distinctio.
	Suscipit eligendi facilis, perferendis molestias vitae maiores omnis quae magnam tempora saepe esse. Nulla aspernatur harum voluptatem doloribus consequatur veritatis dolor facere tempora corrupti, quae quia dignissimos molestias saepe accusantium?
	Molestias voluptate doloremque recusandae animi sint quas consequuntur in iste. Atque quos et voluptatibus. Sed, impedit maxime officia veritatis corporis dicta harum voluptatem, quis velit laborum amet sequi illo aperiam.</p>

	<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Maxime, dolor expedita eum aperiam quam suscipit corrupti quos consectetur distinctio iure quo. Doloremque quae corporis corrupti saepe incidunt veniam odit harum.

	Dolorem nisi reprehenderit aliquam exercitationem alias. Eligendi quam molestias distinctio delectus, consectetur in, libero nesciunt deleniti iusto repellat porro, placeat. Libero officiis, praesentium voluptates debitis porro, modi aspernatur vel distinctio.
	Suscipit eligendi facilis, perferendis molestias vitae maiores omnis quae magnam tempora saepe esse. Nulla aspernatur harum voluptatem doloribus consequatur veritatis dolor facere tempora corrupti, quae quia dignissimos molestias saepe accusantium?
	Molestias voluptate doloremque recusandae animi sint quas consequuntur in iste. Atque quos et voluptatibus. Sed, impedit maxime officia veritatis corporis dicta harum voluptatem, quis velit laborum amet sequi illo aperiam.</p>

	<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Maxime, dolor expedita eum aperiam quam suscipit corrupti quos consectetur distinctio iure quo. Doloremque quae corporis corrupti saepe incidunt veniam odit harum.

	Dolorem nisi reprehenderit aliquam exercitationem alias. Eligendi quam molestias distinctio delectus, consectetur in, libero nesciunt deleniti iusto repellat porro, placeat. Libero officiis, praesentium voluptates debitis porro, modi aspernatur vel distinctio.
	Suscipit eligendi facilis, perferendis molestias vitae maiores omnis quae magnam tempora saepe esse. Nulla aspernatur harum voluptatem doloribus consequatur veritatis dolor facere tempora corrupti, quae quia dignissimos molestias saepe accusantium?
	Molestias voluptate doloremque recusandae animi sint quas consequuntur in iste. Atque quos et voluptatibus. Sed, impedit maxime officia veritatis corporis dicta harum voluptatem, quis velit laborum amet sequi illo aperiam.</p>

	<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Maxime, dolor expedita eum aperiam quam suscipit corrupti quos consectetur distinctio iure quo. Doloremque quae corporis corrupti saepe incidunt veniam odit harum.

	Dolorem nisi reprehenderit aliquam exercitationem alias. Eligendi quam molestias distinctio delectus, consectetur in, libero nesciunt deleniti iusto repellat porro, placeat. Libero officiis, praesentium voluptates debitis porro, modi aspernatur vel distinctio.
	Suscipit eligendi facilis, perferendis molestias vitae maiores omnis quae magnam tempora saepe esse. Nulla aspernatur harum voluptatem doloribus consequatur veritatis dolor facere tempora corrupti, quae quia dignissimos molestias saepe accusantium?
	Molestias voluptate doloremque recusandae animi sint quas consequuntur in iste. Atque quos et voluptatibus. Sed, impedit maxime officia veritatis corporis dicta harum voluptatem, quis velit laborum amet sequi illo aperiam.</p>

	<p>Lorem, ipsum dolor, sit amet consectetur adipisicing elit. Maxime, dolor expedita eum aperiam quam suscipit corrupti quos consectetur distinctio iure quo. Doloremque quae corporis corrupti saepe incidunt veniam odit harum.

	Dolorem nisi reprehenderit aliquam exercitationem alias. Eligendi quam molestias distinctio delectus, consectetur in, libero nesciunt deleniti iusto repellat porro, placeat. Libero officiis, praesentium voluptates debitis porro, modi aspernatur vel distinctio.
	Suscipit eligendi facilis, perferendis molestias vitae maiores omnis quae magnam tempora saepe esse. Nulla aspernatur harum voluptatem doloribus consequatur veritatis dolor facere tempora corrupti, quae quia dignissimos molestias saepe accusantium?
	Molestias voluptate doloremque recusandae animi sint quas consequuntur in iste. Atque quos et voluptatibus. Sed, impedit maxime officia veritatis corporis dicta harum voluptatem, quis velit laborum amet sequi illo aperiam.</p>
	{% endblock %}

{% endblock content %}