
{% extends "base.html" %}
{% block content %}
<!-- Titulo -->
    <div class="container">
        {%if vtitulo%}
            <h1> Flask - {{vtitulo}} </h1>
        {%else%}
            <h1>Titulo si no lo encuentra</h1>
        {%endif%}
    </div>

<!-- Formulario Registro -->
    <div class="container">
        <div class="frameRegister">
            <div class="nav">
                <ul class="links">
                    <li class=" uli signin-inactive">ESTÁS EN REGISTRO</a></li>
                    <li class=" uli signup-active"><a class="btn" href="{{ url_for('login')}}">Tengo una cuenta</a></li>
                </ul>
            </div>

        <form class="form-signin" action="" method="POST" name="form">
            {{form.hidden_tag()}}
            <label for=username">Nombre</label>
            <!-- <input type="text" class="form-styling" name="username"> -->
            {{form.username(class="form-styling", id="username")}} 

            <label for="email">Email</label>
            <!-- <input type="text" class="form-styling" name="email"> -->
            {{form.email(class="form-styling", id="email")}}   
            
            <label for="password">Contraseña</label>
            <!-- <input type="text" class="form-styling" name="password">  -->
            {{form.password(class="form-styling", id="password" )}} 

            <label for="confirmpassword">Repetir Contraseña</label>
            <!-- <input type="text" class="form-styling" name="confirmpassword"> -->
            {{form.confirmpassword(class="form-styling", id="confirmpassword", for="confirmpassword")}} 


            <input type="checkbox" id="checkbox"/>

            <label for="checkbox" ><span class="ui"></span>Recordarme</label>
      
            <div class="uli signin-active text-center">

            <button type="submit" name="Registrarme" class="btn-signup">Registrarme</button>
        
        </form>

            <div class="forgot">
                <hr>
                <a href="#">Olvidó su contraseña?</a>
            </div>
        </div>
    </div>

{% endblock %}